<div style="background-color: #fff;" class="contained">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-between">
      <div style="padding: 4em 2em;max-width: 1024px; margin: 0 auto;" class="d-flex jusify-content-center">
        <h2 class="text-center">{{ section.settings.title_1 }}</h2>
      </div>
      <div class="row" style="padding-bottom: 2em;">
        <div class="col-4 text-center" style="padding: 1em;">
          <img src="{{ section.settings.image_1.src | img_url: '800x800' }}" />
        </div>
        <div class="col-4 text-center" style="padding: 1em;">
          <img src="{{ section.settings.image_2.src | img_url: '800x800' }}" />
        </div>
        <div class="col-4 text-center" style="padding: 1em;">
          <img src="{{ section.settings.image_3.src | img_url: '800x800' }}" />
        </div>
      </div>
      {% if section.settings.copy_1 != blank %}
      <div class="row" style="margin-bottom: 2em;">
        <div class="col-sm-6">
          <p>{{ section.settings.copy_1 }}</p>
        </div>
      {% if section.settings.copy_1b != blank %}
        <div class="col-sm-6">
          <p>{{ section.settings.copy_1b }}</p>
        </div>
      {% endif %}
      </div>
      {% endif %}
      {% if section.settings.copy_1c != blank or section.settings.copy_1d %}
      <div class="row" style="margin-bottom: 2em;">
        <div class="col-12">
          <p>{{ section.settings.copy_1c }}</p>
          <p>{{ section.settings.copy_1d }}</p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% if section.settings.image_break != blank %}
<div style="background-color: #000;"  style="margin-bottom: 2em;">
  <div class="about-image-break" style="background-image: url('{{ section.settings.image_break | img_url: '1200x1200'}}'); background-position:center; background-size: cover; background-repeat: no-repeat; height: 300px;">
  </div>
  <div class="row d-flex flex-column align-items-center justify-content-center">
    <div class="col-12 d-flex" style="padding: 4em 2em;max-width: 1024px;">
        <h2 class=" text-center text-white">{{ section.settings.blockquote }}</h2>
    </div>
  </div>
</div>
{% endif %}
<div class="contained">
<div class="row" style="margin-bottom: 2em;">
<div class="col-12 d-flex flex-column align-items-center justify-content-center">
    <div style="padding: 4em 2em;max-width: 1024px;">
    <p>{{ section.settings.copy_1e }}</p>
    <p>{{ section.settings.copy_1f }}</p>
    <p>{{ section.settings.copy_1g }}</p>
    </div>
    </div>
</div>
</div>
{% schema %}
    {
        "settings":[
            {
              "type": "text",
              "id": "title_1",
              "label": "Section 1 Intro",
              "default": "Chasen Provisions"
            },
            {
              "type": "text",
              "id": "copy_1",
              "label": "Section 1 left",
              "default": "Ceremony is the celebration of reaching a crossroad and choosing a direction. We think waking up each morning is a crossroad. Will you be happy, fulfilled, and generous this day? For as long as there is breath in your body, the decision is yours. To Chasen + Stone, Matcha is ​more than a delicious, antioxidant-​rich tea. Within its leaves lives a daily ceremony that celebrates health, relationships, and the choice to live with great heart. It is our intention that the benefits of this miraculous beverage extend to both the planet and the people living on it."
            },
            {
              "type": "text",
              "id": "copy_1b",
              "label": "Section 1 right",
              "default": "Our Matcha is directly sourced from carefully selected, single estate farmers in Japan who are devoted to quality, and use only organic farming methods. Each leaf is shade grown, hand-picked, steam distilled, and ground using traditional stone mills. The result is an impressively high nutrient content and impeccable flavor profile. Whether you enjoy your Matcha with a friend or in the pleasure of your own company, we invite you to think of it as a ceremony that celebrates the infinite possibilities of your own, beautiful life."
            },
            {
              "type": "text",
              "id": "copy_1c",
              "label": "Section 1 Copy line 3",
              "default": "Make your way to the forest floor. The first filtered light on your skin perfumes the air with warming amber resin. You have an audience with truth now. You are awake."
            },
            {
              "type": "text",
              "id": "copy_1d",
              "label": "Section 1 Copy line 4",
              "default": "Your map is the way of breath moving blood, your soundtrack is birdsong. Beads of sweat are a baptism in this high temple."
            },
            {
              "type": "text",
              "id": "copy_1e",
              "label": "Section 1 Copy line 5",
              "default": "Soon you will see your summit for the first time. Remind yourself that in this moment, as in all of life, what appears to be an insurmountable peak is soon to be your vantage point."
            },
            {
              "type": "text",
              "id": "copy_1f",
              "label": "Section 1 Copy line 6",
              "default": "This is the time to let go of fear and embrace the clarion call of your heart. Your path has become a single track. Straight and narrow, fueled by focus, until your momentum is a river with a current so strong it cannot be stopped."
            },
            {
              "type": "text",
              "id": "copy_1g",
              "label": "Section 1 Copy line 7",
              "default": "There is no other day than this one. Give yourself to it, and it will give you everything in return."
            },
            {
              "type": "image_picker",
              "id": "image_break",
              "label": "Image Break"
            },
            {
              "type": "text",
              "id": "blockquote",
              "label": "Black Section blockquote",
              "default": "The majority of our 'regulars' come in specifically for the matcha latte. It's delicious, uplifting, and people go out of their to get it every morning."
            },
            {
              "type": "image_picker",
              "id": "image_break_2",
              "label": "Image Break Bottom"
            },
            {
              "type" : "image_picker",
              "id": "image_1",
              "label": "image row 1"
            },
            {
              "type" : "image_picker",
              "id": "image_2",
              "label": "image row 2"
            },
            {
              "type" : "image_picker",
              "id": "image_3",
              "label": "image row 3"
            }
        ]
    }

{% endschema %}
