<div class="chasen-home-content" style="background-color: {{ section.settings.section_bg }}">
  <div class="chasen-home-intro-section" style="background-color: {{ section.settings.intro_box_bg }}; position: relative;">
<div class="chasen-content-background">
  <div class="outer">
    <div class="tall"></div>
    <div class="short"></div>
  </div>
  <div class="outer">
    <div class="tall"></div>
    <div class="short"></div>
  </div>
</div>
<div class="chasen-content-foreground">
  <div class="outer">
    <div class="tall">
        <div class="text-center">
          <img src='{{ section.settings.page_intro_image | img_url: '800x800' }}' />
        </div>
    </div>
    {% comment %} <div class="short"></div> {% endcomment %}
  </div>
  <div class="outer text">
    <div class="tall">
        <div class="text-left">
        <h2 class="text-chasen-intro"><p>{{section.settings.page_intro_title}}</p></h2>
          {{section.settings.page_intro_copy}}
        </div>
    </div>
    <div class="short"></div>
  </div>
</div>



  </div>

  <div class="chasen-home-testimonial-section" style="background-color: {{ section.settings.testimonial_box_bg }}">
    <div class="row contained">
      <div class="col-sm-8 offset-sm-2 text-center">
        <h2>{{section.settings.page_testimonial_text}}</h2>
        <p class="cite">{{section.settings.page_testimonial_cite}}</p>
      </div>
    </div>
  </div>





  <div class="chasen-home-video-section" style="background-color: {{ section.settings.video_box_bg }};{% if section.settings.video_box_bg_img %} background-image: url('{{ section.settings.video_box_bg_img | img_url: '800x' }}');background-position: bottom right;background-size: contain;background-repeat: no-repeat;{% endif %}">
    <!-- todo add bg img -->
    <div class="row contained">
      <div class="col-md-56 col-sm-4 text-center">
        <h4>{{section.settings.video_box_title}}</h4>
        <h2 class="">{{section.settings.video_box_subtitle}}</h2>
        <a class="btn btn-chasen" href="{{section.settings.video_cta_link}}">
          {{section.settings.video_cta_text}}
        </a>
      </div>
      <div class="col-md-7 col-sm-8 text-center">
        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
        <div class='embed-container'><iframe src="{{section.settings.video_url}}?frameborder=0&allowfullscreen&showinfo=0&iv_load_policy=3&controls=0&modestbranding=1"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
    {
    "name": "Chasen Home Content",
    "settings": [
        {
        "type": "color",
        "id": "section_bg",
        "label": "Main Section Background Color"
        },
        {
        "type": "color",
        "id": "intro_box_bg",
        "label": "Intro Section Background Color"
        },
        {
        "type": "text",
        "id": "page_intro_title",
        "label": "Page Intro Title"
        },
        {
        "type": "richtext",
        "id": "page_intro_copy",
        "label": "Page intro copy"
        },
        {
        "type": "image_picker",
        "id": "page_intro_image",
        "label": "Image",
        "info": "image should be 400px wide"
        },
        {
        "type": "color",
        "id": "testimonial_box_bg",
        "label": "Testimonial Background Color"
        },
        {
        "type": "richtext",
        "id": "page_testimonial_text",
        "label": "Testimonial Text"
        },
        {
        "type": "text",
        "id": "page_testimonial_cite",
        "label": "Testimonial Cite"
        },
        {
        "type": "color",
        "id": "video_box_bg",
        "label": "Video Section Background Color"
        },
        {
        "type": "image_picker",
        "id": "video_box_bg_img",
        "label": "Image",
        "info": "select background image"
        },
        {
        "type": "text",
        "id": "video_url",
        "label": "Video URL",
        "info": "Youtube embed url eg https:\/\/www.youtube.com\/embed\/jPUP1gMdiC8"
        },
        {
        "type": "text",
        "id": "video_box_title",
        "label": "Video title"
        },
        {
        "type": "text",
        "id": "video_box_subtitle",
        "label": "Video subtitle"
        },
        {
        "type": "url",
        "id": "video_cta_link",
        "label": "Video CTA link"
        },
        {
        "type": "text",
        "id": "video_cta_text",
        "label": "Video CTA text"
        }
      ],
    "presets": [
      {
          "name": "Chasen Home Content",
          "category": "Features"
      }
      ]
    }
{% endschema %}
