{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Featured Collection" section in the theme editor.

  Theme Store required settings
  - Collection

  Theme Store optional settings
  - Heading: title of the featured collection section
{%- endcomment -%}
{% if section.settings.title != blank %}
  <div class="text-white d-flex justify-content-center"><span style="margin-bottom: 0;padding: 20px 60px; background: #000;" class="genuine h2">{{ section.settings.title | escape }}</span></div>
{% endif %}

<div class="collection-items-box alpine-collection-items ap-bg" style="padding-top: 0;">
  <div class="row d-flex align-items-baseline" style="padding: 0 5%;">
    {%- assign collection = collections[section.settings.collection] -%}
    {% for product in collection.products %}
    <div class="col-sm-6 col-md-4 collection-card">
        {% if product.featured_image != blank %}
          <a href="{{ product.url | within: collection }}">
            {% include 'responsive-image' with
              image: product.featured_image,
              max_width: 700,
              max_height: 800
            %}
          </a>
        {% endif %}

        <p class="text-center">
          <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
        </p>
        <a class="btn collection-product-button " href="{{ product.url | within: collection }}">
        {% if product.available %}
          {% if product.compare_at_price > product.price %}

            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              {{ 'products.product.on_sale' | t }}
              {{ product.price | money }}
            {% endif %}

          {% else %}

            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
              {{ product.price | money }}
            {% endif %}

          {% endif %}

          {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s>{{ product.compare_at_price | money }}</s>
          {% endif %}

          {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </a>
      </div>

    {% else %}
      {% if collection.handle == 'all' and collection.all_vendors.size == 0 and collection.all_types.size == 0 %}
        {% for i in (1..8) %}
          <a href="#">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
          </a>
          <p>
            <a href="#">{{ 'homepage.onboarding.product_title' | t }}</a>
          </p>
          <p>
            {{ 1999 | money }}
          </p>
        {% endfor %}
      {% else %}
        <p>{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
    {% endfor %}
  </div>
</div>


<!-- <section class="featured-collection contained">
<div class="row">
  {%- assign collection = collections[section.settings.collection] -%}

  {% for product in collection.products limit: 3 %}
  <div class="col-sm-4 d-flex flex-column align-items-center justify-content-between" style="padding: 0;">
  <div style="background-image: url('{{ product.featured_image | img_url: '1000x1000' }}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 305px; width: 100%;">
  </div>
  <div class="d-flex flex-column align-items-center justify-content-between" style="padding: 15px">
      <p>{{ product.title | escape }}</p>
        <span>
        {% if product.compare_at_price > product.price %}
          {% if product.price_varies %}
            {%- assign sale_price = product.price | money -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ 'products.product.on_sale' | t }}
            {{ product.price | money }}
          {% endif %}
        {% else %}
          {% if product.price_varies %}
            {%- assign price = product.price | money -%}
            {{ 'products.product.from_text_html' | t: price: price }}
          {% else %}
            {{ product.price | money }}
          {% endif %}
        {% endif %}
      </span>
    <a href="{{ product.url | within: collection }}" class="btn btn-small">
      <span>Shop Now</span>
    </a>
    </div>
  </div>

  {% endfor %}
  </div>
</section> -->

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection - Alpine",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
