{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}
{% if section.settings.show == true %}

{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<section class="ingredients-matter-section ingredients-matter-ritual row">
  {% capture image_layout %}
    <div class="col-2 col-sm-4 col-md-7" style="background-image: url('{{ section.settings.bg_image.src | img_url: '1000x1000' }}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
    <div class="row no-margins">
      <div class="col-12" >
      <div class="ingredients-matter-overlay">
        <div class="overlay-bg" style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity | times: 0.01 }}"></div>
      </div>
      </div>
    </div>
    </div>
  {% endcapture %}

  {% if section.settings.layout == 'left' %}
    {{ image_layout }}
  {% endif %}
  <div class="col-10 col-sm-8 col-md-5 text-box"  style="background-color: {{ section.settings.textbox_color }};">
    <div class="row " style="height: 100%;">
      <div class="col-sm-12">
        <h3>{{ section.settings.textbox_title }}</h3>
        <p>{{ section.settings.textbox_subtitle }}</p>
      </div>
      <div class="col-sm-12">
        <p>{{ section.settings.textbox_copy }}</p>
      </div>
      <div class="col-sm-12">
      <div class="row" style="width: 100%;">
        {% for block in section.blocks %}
        <div class=" ingredient-image-box d-flex flex-column align-items-center justify-content-center">
          <a href="/pages/ingredient-glossary">
          <div style="height: 92px; width: 92px; overflow: hidden; text-align:center; background-image: url(' {{block.settings.ingredient_image.src | img_url: '300x300' }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
          </div>
          <p>{{ block.settings.ingredient_title }}</p>
          </a>
        </div>
        {% endfor %}
        <div class="ingredient-image-box d-flex flex-column align-items-center justify-content-center">
          <p>
            <a href="/pages/ingredients-glossary/">More</a>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>

  {% if section.settings.layout == 'right' %}
    {{ image_layout }}
  {% endif %}
</section>
{% endif %}
{% schema %}
  {
    "name": "Ingredients Matter dry",
    "max_blocks": 3,
    "settings": [
      {
        "type":      "checkbox",
        "id":        "show",
        "label":     "Show Section?",
        "default":   false,
        "info":      "Toggles this seciton on page"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "default": 2,
        "min": 1,
        "max": 100
      },
      {
        "type": "color",
        "id": "textbox_color",
        "label": "Textbox Background Color"
      },
      {
        "type": "text",
        "id": "textbox_title",
        "label": "Textbox Title"
      },
      {
        "type": "text",
        "id": "textbox_subtitle",
        "label": "Textbox Subtitle"
      },
      {
        "type": "text",
        "id": "textbox_copy",
        "label": "Textbox Copy"
      }
    ],
    "blocks": [
      {
        "name": "Ingredients",
        "type": "select",
        "name": "ingredient-select",
        "settings": [
          {
            "type": "image_picker",
            "id": "ingredient_image",
            "label": "Ingredient Image"
          },
          {
            "type": "text",
            "id": "ingredient_title",
            "label": "Ingredient Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Ingredients Matter",
        "category": "Features"
      }
    ]
  }
{% endschema %}

