{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}
{% if section.settings.show == true %}
{%- assign product = all_products[section.settings.product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<section class="ingredients-matter-section row">
  {% capture image_layout %}
    <div class="col-9">
    <div class="row no-margins">
      <div class="col-12" styles="background-image: url('{{section.settings.bg_image}}'); background-position: center; background-size: cover; background-repeat: no-repeat;">
      <div class="ingredients-matter-overlay">
        <div class="overlay-bg" style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity | times: 0.01 }}">

        </div>
        <div class="overlay-content">
          <h2 class="text-white">{{ section.settings.overlay_title }}</h2>
          <small class="text-white">{{ section.settings.overlay_subtitle }}</small>
        <div class="row d-flex justify-content-start">
        {% if section.settings.button_label_ingredient != blank and section.settings.button_link_ingredient != blank %}
          <a class="btn align-self-center" type="submit" href="{{ section.settings.button_link_ingredient }}">
            {{ section.settings.button_label_ingredient | escape }}
          </a>
        {% endif %}
        {% if section.settings.button_label_collection != blank and section.settings.button_link_collection != blank %}
          <a class="btn align-self-center" type="submit" href="{{ section.settings.button_link_collection }}">
            {{ section.settings.button_label_collection | escape }}
          </a>
        {% endif %}
        </div>
        </div>
      </div>
      {% if section.settings.bg_image != blank %}
        {% include 'responsive-image' with
          image: section.settings.bg_image,
          max_width: 2000,
          max_height: 1000
        %}

      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      </div>
    </div>
    </div>
  {% endcapture %}

  {% if section.settings.layout == 'left' %}
    {{ image_layout }}
  {% endif %}
  <div class="col-3">
    <div class="row " style="height: 100%;">
      <div class="col-sm-12 d-flex align-items-center justify-content-center">
        <h1>{{ section.settings.product.title }}</h1>
          {% if featured_image.src != blank %}
            {% include 'responsive-image' with
              image: featured_image,
              max_width: 700,
              max_height: 800
            %}
          {% endif %}
      </div>
      <div class="col-sm-12 d-flex flex-column align-items-start justify-content-around">
        {% if section.settings.title != blank %}
          <h2 class="text-center">{{ section.settings.title | escape }}</h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div>{{ section.settings.text }}</div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if section.settings.layout == 'right' %}
    {{ image_layout }}
  {% endif %}
</section>
{% endif %}
{% schema %}
  {
    "name": "Ingredients Matter body",
    "settings": [
      {
        "type":      "checkbox",
        "id":        "show",
        "label":     "Show Section?",
        "default":   false,
        "info":      "Toggles this seciton on page"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Image alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "text",
        "id": "overlay_title",
        "label": "Overlay Title",
        "default": "Sun Kissed Lavender"
      },
      {
        "type": "text",
        "id": "overlay_subtitle",
        "label": "Overlay Subtitle",
        "default": "Sun Kissed Lavender"
      },
      {
        "type": "html",
        "id": "feature_list",
        "label": "Ingredient Features List"
      },
      {
        "type": "text",
        "id": "button_label_ingredient",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link_ingredient",
        "label": "Ingredient link"
      },
      {
        "type": "text",
        "id": "button_label_collection",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link_collection",
        "label": "Collections link"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "CTA Button Color"
      },
      {
        "type": "color",
        "id": "overlay_color",
        "label": "Overlay Color"
      },
      {
        "type": "range",
        "id": "overlay_opacity",
        "label": "Overlay Opacity",
        "default": 2,
        "min": 1,
        "max": 100
      },
      {
        "type": "color",
        "id": "textbox_color",
        "label": "Textbox Background Color"
      }
    ],
    "presets": [
      {
        "name": "Ingredients Matter",
        "category": "Features"
      }
    ]
  }
{% endschema %}
