{%- assign product_1 = all_products[section.settings.product_1] -%}
{%- assign current_variant_1 = product_1.selected_or_first_available_variant -%}
{%- assign featured_image_1 = current_variant_1.featured_image | default: product_1.featured_image -%}

{%- assign product_2 = all_products[section.settings.product_2] -%}
{%- assign current_variant_2 = product_2.selected_or_first_available_variant -%}
{%- assign featured_image_2 = current_variant_2.featured_image | default: product_2.featured_image -%}

{%- assign product_3 = all_products[section.settings.product_3] -%}
{%- assign current_variant_3 = product_3.selected_or_first_available_variant -%}
{%- assign featured_image_3 = current_variant_3.featured_image | default: product_3.featured_image -%}



<div class="page-width">
<div class="row">
  <div class="col-sm-6 collection-card ritual-card text-center has-bottom-bar">
  <div class="card-title-box">
        <h2 class="ritual-product-title"><span class="ritual-title-number">1</span>{{ section.settings.title_1  }}</h2>
        <p class="ritual-product-subtitle">{{ section.settings.subtitle_1 }}</p>
        </div>
  {% if featured_image_1.src != blank %}
    <a href="{{ product_1.url }}">
        {% include 'responsive-image' with
          image: featured_image_1,
          max_width: 700,
          max_height: 800
        %}
        </a>
  {% endif %}
  <div class="card-button-box">
  <p>{{ product_1.title | default: onboarding_title | replace: '-', '<br/>' }}</p>
  <a class="btn collection-product-button subtle" href="{{ product_1.url | within: collection }}">
    {% if product_1.available %}
      {% if product_1.compare_at_price > product_1.price %}

        {% if product_1.price_varies %}
          {%- assign sale_price = product_1.price | money -%}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          {{ 'products.product.on_sale' | t }}
          {{ product_1.price | money }}
        {% endif %}

      {% else %}

      {% if product_1.price_varies %}
        {%- assign price = product_1.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product_1.price | money }}
      {% endif %}

    {% endif %}

    {% if product_1.compare_at_price > product_1.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{{ product_1.compare_at_price | money }}</s>
    {% endif %}

    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </a>
  </div>
  </div>
  <div class="col-sm-6 collection-card ritual-card text-center has-bottom-bar">
  <div class="card-title-box">
  <h2 class="ritual-product-title"><span class="ritual-title-number">2</span>{{ section.settings.title_2 }}</h2>
  <p class="ritual-product-subtitle">{{ section.settings.subtitle_2 }}</p>
  </div>
  {% if featured_image_2.src != blank %}
    <a href="{{ product_2.url }}">
        {% include 'responsive-image' with
          image: featured_image_2,
          max_width: 700,
          max_height: 800
        %}
        </a>
  {% endif %}
    <div class="card-button-box">

  <p>{{ product_2.title | default: onboarding_title | replace: '-', '<br/>' }}</p>
  <a class="btn collection-product-button subtle" href="{{ product_2.url | within: collection }}">
    {% if product_2.available %}
      {% if product_2.compare_at_price > product_2.price %}

        {% if product_2.price_varies %}
          {%- assign sale_price = product_2.price | money -%}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          {{ 'products.product.on_sale' | t }}
          {{ product_2.price | money }}
        {% endif %}

      {% else %}

      {% if product_2.price_varies %}
        {%- assign price = product_2.price | money -%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {{ product_2.price | money }}
      {% endif %}

    {% endif %}

    {% if product_2.compare_at_price > product_2.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{{ product_2.compare_at_price | money }}</s>
    {% endif %}

    {% else %}
      {{ 'products.product.sold_out' | t }}
    {% endif %}
  </a>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 collection-card ritual-card text-center">
    <div class="card-title-box">
    <h2 class="ritual-product-title"><span class="ritual-title-number">3</span>{{ section.settings.title_3 }}</h2>
    <p class="ritual-product-subtitle">{{ section.settings.subtitle_3 }}</p>
    </div>
    {% if featured_image_3.src != blank %}
      <a href="{{ product_3.url }}">
        {% include 'responsive-image' with
          image: featured_image_3,
          max_width: 700,
          max_height: 800
        %}
        </a>
    {% endif %}
      <div class="card-button-box">

    <p>{{ product_3.title | default: onboarding_title | replace: '-', '<br/>' }}</p>
    <a class="btn collection-product-button subtle" href="{{ product_3.url | within: collection }}">
      {% if product_3.available %}
        {% if product_3.compare_at_price > product_3.price %}

          {% if product_3.price_varies %}
            {%- assign sale_price = product_3.price | money -%}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
          {% else %}
            {{ 'products.product.on_sale' | t }}
            {{ product_3.price | money }}
          {% endif %}

        {% else %}

        {% if product_3.price_varies %}
          {%- assign price = product_3.price | money -%}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          {{ product_3.price | money }}
        {% endif %}

      {% endif %}

      {% if product_3.compare_at_price > product_3.price %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s>{{ product_3.compare_at_price | money }}</s>
      {% endif %}

      {% else %}
        {{ 'products.product.sold_out' | t }}
      {% endif %}
    </a>
    </div>
  </div>
{% include 'product-grid-custom-slider' %}
{% comment %} {% include 'product-grid-glow-slider' %} {% endcomment %}
</div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Dry Skin Grid",
    "class": "ritual-grid",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "text",
        "id": "title_1",
        "label": "Top-Left Title"
      },
      {
        "type": "text",
        "id": "subtitle_1",
        "label": "Top-Left Subtitle"
      },
      {
        "type": "product",
        "id": "product_1",
        "label": "Top-Left Product"
      },
      {
        "type": "text",
        "id": "title_2",
        "label": "Top-Right Title"
      },
      {
        "type": "text",
        "id": "subtitle_2",
        "label": "Top-Right Subtitle"
      },
      {
        "type": "product",
        "id": "product_2",
        "label": "Top-Right Product"
      },
      {
        "type": "text",
        "id": "title_3",
        "label": "Bottom Left Title"
      },
      {
        "type": "text",
        "id": "subtitle_3",
        "label": "Bottom Left Subtitle"
      },
      {
        "type": "product",
        "id": "product_3",
        "label": "Bottom Left Product"
      },
      {
        "type": "text",
        "id": "title_4",
        "label": "Bottom-Righ Title"
      },
      {
        "type": "text",
        "id": "subtitle_4",
        "label": "Bottom-Righ Subtitle"
      }
    ],
    "blocks": [
        {
          "type": "product",
          "name": "Position 4 Slider Items",
          "settings": [
            {
              "type": "product",
              "id": "custom_product",
              "label": "Slider Product"
            }
          ]
        }
      ],
    "presets": [
      {
        "name": "Dry Skin",
        "category": "Ritual"
      }
    ]
  }
{% endschema %}
