
<div>
    <div class="contained">
        <div class="row d-flex align-items-center skin-type-intro-box">
            <div class="col-sm-3 offset-sm-2">
            <img src="{{ section.settings.intro_img | img_url: '1200x1200' }}">
            </div>
            <div class="col-sm-5 text-left">
            <h2>{{ section.settings.intro_headline }}</h2>
            <p>{{ section.settings.intro_copy }}</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: rgba(208, 208, 208, 0.4);>
    <div class="contained">
        <div class="row d-flex align-items-center" style=" padding: 30px;">
            <div class="col-lg-3 col-md-6 skin-type-card d-flex flex-column align-items-center justify-content-between">
                <a href="/pages/normal-skincare-ritual">
                    <div class=" skin-type-card-inner">
                        <img src="{{ 'normal.png' | asset_url }}">
                        <h3>Normal</h3>
                        <p>{{ section.settings.normal_copy }}</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 skin-type-card d-flex flex-column align-items-center justify-content-between">
                <a href="/pages/combination-skincare-ritual">
                <div class="skin-type-card-inner ">
                    <img src="{{ 'combination.png' | asset_url }}">
                    <h3>Combination</h3>
                    <p>{{ section.settings.combination_copy }}</p>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 skin-type-card d-flex flex-column align-items-center justify-content-between">
                <a href="/pages/dry-skincare-ritual">
                <div class="skin-type-card-inner">
                    <img src="{{ 'dry.png' | asset_url }}">
                    <h3>Dry</h3>
                    <p>{{ section.settings.dry_copy }}</p>
                </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 skin-type-card d-flex flex-column align-items-center justify-content-between">
                <a href="/pages/oily-skincare-ritual">
                <div class="skin-type-card-inner">
                    <img src="{{ 'oily.png' | asset_url }}">
                    <h3>Oily</h3>
                    <p>{{ section.settings.oily_copy }}</p>
                </div>
                </a>
            </div>
        </div>
        <div class="row d-flex align-items-center" style=" padding: 30px;">
            <div class="col-sm-6 offset-sm-3">
            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/lYa-TqKxIvM?frameborder=0&allowfullscreen&showinfo=0&iv_load_policy=3&controls=0&modestbranding=1'></iframe></div>
            <p class="text-center" style="max-width: 450px; margin: 30px auto;">{{ section.settings.video_copy }}</p>
            </div>
        </div>
    </div>
</div>
{% schema %}
    {
        "settings":[
            {
                "type": "image_picker",
                "id": "intro_img",
                "label": "Introduction Image"
            },
            {
                "type": "text",
                "id": "intro_headline",
                "label": "Introduction Headline",
                "default": "Determine Your Skin Type."
            },
            {
                "type": "text",
                "id": "intro_copy",
                "label": "Introduction Copy",
                "default": "Start by washing your skin. Don’t apply any products, then wait 2 hours and look for these signs in and outside your ’t-zone’."
            },
            {
                "type": "text",
                "id": "normal_copy",
                "label": "Normal copy",
                "default": "What’s inside and how it affects your skin type"
            },
            {
                "type": "text",
                "id": "combination_copy",
                "label": "combination copy",
                "default": "What’s inside and how it affects your skin type"
            },
             {
                "type": "text",
                "id": "dry_copy",
                "label": "dry copy",
                "default": "What’s inside and how it affects your skin type"
            },
             {
                "type": "text",
                "id": "oily_copy",
                "label": "oily copy",
                "default": "What’s inside and how it affects your skin type"
            },
             {
                "type": "text",
                "id": "video_copy",
                "label": "Video copy",
                "default": "Learn how to determine your skin type in 60 seconds  with Jane Allegro, a Pangea Organics certified advisor"
            }
        ]
    }

{% endschema %}
