{% layout 'all-brands' %}
{% section 'header-cart' %}
{% include 'bold-cart' %}
<div class="contained no-header">
{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <div class="row">
      <div class="col-6 col-sm-2">
          <h5 class="text-left">{{ 'cart.label.product' | t }}</h5>
        </div>
        <div class="col-6 col-sm-10">
          <div class="col-12 col-sm-4 offset-sm-8 cart-titles">
            <h5 class="small-hide">{{ 'cart.label.price' | t }}</h5>
            <h5 class="small-hide">{{ 'cart.label.quantity' | t }}</h5>
            <h5>{{ 'cart.label.total' | t }}</h5>
          </div>
        </div>
      </div>
        {% for item in cart.items %}
        {% include 'bold-cart-item' with item %}
        {% comment %}

        Cart Item Template
        =====================
        The data-label attributes on <td> elements are mobile-friendly
        helpers used for responsive-table labels
        {% endcomment %}

          <div class="row" style="margin: .25em auto;">
            <div class="col-4 col-sm-2" data-label="{{ 'customer.order.product' | t }}">

              {% if item.image != blank %}
                <a href="{{ item.url | within: collections.all }}">
                  {{ item | img_url: '240x240' | img_tag: item.title }}
                </a>
              {% endif %}

            </div>
            <div class="col-8 col-sm-10 d-flex align-items-center" style="background-color: #f5f5f5; padding: 1em">
            <div class="row" style="width:100%;">
            <div class="col-8 col-sm-8 d-flex flex-column align-items-start justify-content-start">
            {% if item.product.template_suffix contains "alpine" %}
            <img src="{{ 'ap-logo-bk.png' | asset_url }}" style="max-width: 60px"/>
            {% elsif item.product.template_suffix contains "chasen" %}
            <img src="{{ 'Chasen_Stone_dark.png' | asset_url }}" style="max-width: 100px"/>
            {% else %}
            <img src="{{ 'pangea-logo-sm-black.png' | asset_url }}" style="max-width: 100px"/>
            {% endif %}
            <p>{{ product.vendor }}</p>
              {% comment %} <p>{{ item.vendor }}</p> {% endcomment %}
              <a href="{{ item.url }}">{{ item.product.title }}</a><span class="small-show"> x {{ item.quantity }}</span>
              {% unless item.product.has_only_default_variant %}
                <p>{{ item.variant.title }}</p><span class="small-show"> x {{ item.quantity }}</span></p>
              {% endunless %}


              {%- assign property_size = item.properties | size -%}

              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {{ p.first }}:

                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}
            <div class="small-hide">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </div>
            </div>
            <div class="col-4 cart-item-info" data-label="{{ 'cart.label.price' | t }}">
              {% if item.original_line_price != item.line_price %}
                <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                {{ item.price | money }}
                <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                <s>{{ item.original_price | money }}</s>
              {% else %}
              <div class="cart-price per">
                {{ item.price | money }}
                </div>
              {% endif %}
            <div class="cart-item-number small-hide" data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number"
                class="field-{{ forloop.index }} first-field"
                name="updates[{{ item.key }}]"
                id="updates_{{ item.key }}"
                value="{{ item.quantity }}"
                min="0"
                aria-label="{{ 'cart.general.item_quantity' | t }}">
            </div>
            <div class="cart-price" data-label="{{ 'cart.label.total' | t }}">
              {{ item.line_price | money }}
            </div>
            </div>
            {% comment %} Hidden Edit Button {% endcomment %}
            <div class="col-12 small-show d-flex align-items-start justify-content-end">
              <button type="button" class="btn cart-toggle small-show" id="cart-toggle-{{forloop.index}}" name="toggles_{{ item.key }}">Edit</button>
            </div>
            {% comment %} Hidden div for mobile views {% endcomment %}
            <div class="col-12 toggle-show form-{{ forloop.index }}" style="padding: 1em;">
            <div class="d-flex align-items-center justify-content-between">
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
              <div class="cart-item-number d-flex align-items-center justify-content-around" data-label="{{ 'cart.label.quantity' | t }}">
              <label style="margin: 0 .5rem;">Quantity</label>
              <input type="number"
                name="updates[{{ item.key }}]"
                class="field-{{ forloop.index }}-b second-field"
                id="updates_{{ item.key }}"
                value="{{ item.quantity }}"
                min="0"
                aria-label="{{ 'cart.general.item_quantity' | t }}" disabled>
            </div>
            </div>
            </div>
          </div>
        </div>
        </div>
        <script type="text/javascript">
          var is_cancel = null;
          $('[name="toggles_{{ item.key }}"]').click(function(){
            $('.toggle-show.form-{{ forloop.index }}').slideToggle('fast');
            if(is_cancel != true ){
              is_cancel = true;
              $('[name="toggles_{{ item.key }}"]').text('Cancel');
              $('.field-{{ forloop.index }}').prop('disabled', true);
              $('.field-{{ forloop.index }}-b').prop('disabled', false);
            } else {
              is_cancel = false;
              $('[name="toggles_{{ item.key }}"]').text('Edit');
              $('.field-{{ forloop.index }}').prop('disabled', false);
              $('.field-{{ forloop.index }}-b').prop('disabled', true);
            }
          });
        </script>
        {% endfor %}
  <div class="row">
  <div class="col-4 col-sm-9"></div>
  <div class="col-8 col-sm-3">
  <div class="d-flex align-items-center justify-content-between" style="margin-bottom:1em;">
    <p style="margin:0;">{{ 'cart.general.subtotal' | t }}</p>
    <p >{{ cart.total_price | money }}</p>
    {% if cart.total_discounts > 0 %}
      <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
    {% endif %}
    </div>
    <p class="text-right">{{ 'cart.general.shipping_at_checkout' | t }}</p>
    </div>
  </div>
    {% comment %} {% if settings.cart_notes_enable %}
      <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
      <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
    {% endif %} {% endcomment %}
    <div class="row">
    <div class="col-sm-6"></div>
    <div style="padding-top: 1em;" class="col-sm-6 cart-button-wrap">
    <script>
      document.write('<a class="btn cart-btn small-hide" href="' + document.referrer + '">Continue Shopping</a>');
    </script>
      <input style="margin-left: .5em;" type="submit" name="update" class="btn cart-btn" value="{{ 'cart.general.update' | t }}">
      <input style="margin-left: .5em;" type="submit" name="checkout" class="cart-btn btn" value="{{ 'cart.general.checkout' | t }}">
    </div>
    </div>
  </form>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>

  {% comment %}
  Cart empty state
  {% endcomment %}
  <div class="supports-cookies">
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>

  {% comment %}
  Cart no cookies state
  ---------------------
  Browser cookies are required to use the cart. If cookies aren't enabled in the
  browser a message is displayed prompting the user to enable them.
  {% endcomment %}
  <div class="supports-no-cookies">
    <p>{{ 'cart.general.cookies_required' | t }}</p>
  </div>
{% endif %}
<div class="row">
<div class='col-sm-4 cherry-picking'>
  <h4>Cherry Picking is highly encouraged!</h4>
  <div class='inside row'>
    <div class='col-4'>
      <img class='lazyload' alt="Shopping Bag" src="{{ 'shopping-bag.png' | asset_url }}"/>
    </div>
    <div class='col-8 copy'>
      <p>Shop other brands in the Pangea family and add items to the same basket or bundle.* </p>
    </div>
    <p class='small'>*One discount per basket</p>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
  $('.toggle-show').hide();
  $(window).bind('resize', function(){
    if ($(window).width() > 749 ) {
      $('.toggle-show').hide();
      is_cancel = null;
      $('.cart-toggle').text('Edit');
      $('.first-field').prop('disabled', false);
      $('.second-field').prop('disabled', true);
    }
  });
</script>
