{% layout 'theme' %}

  {% if page.url contains 'dry-skin' %}
  {% section "pre-header" %}
  {% section 'header-ritual-dry' %}
  {% section 'ritual-grid-dry' %}
  {% section 'ingredients-matter-ritual-dry' %}
  {% include 'skin-type-modal'%}
  {% elsif page.url contains 'oily-skin' %}
  {% section "pre-header" %}
  {% section 'header-ritual-oily' %}
  {% section 'ritual-grid-oily' %}
  {% section 'ingredients-matter-ritual-oily' %}
  {% include 'skin-type-modal'%}
  {% elsif page.url contains 'normal-skin' %}
  {% section "pre-header" %}
  {% section 'header-ritual-normal' %}
  {% section 'ritual-grid-normal' %}
  {% section 'ingredients-matter-ritual-normal' %}
  {% include 'skin-type-modal'%}
  {% elsif page.url contains 'combination-skin' %}
  {% section "pre-header" %}
  {% section 'header-ritual-combo' %}
  {% section 'ritual-grid-combination' %}
  {% section 'ingredients-matter-ritual-combination' %}
  {% include 'skin-type-modal'%}
  {% endif %}
  <div class="contained">
  <div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
  </div>
