{% if page.url contains "alpine" %}
{% layout 'alpine' %}
{% section "pre-header" %}
  {% section 'header-contact-alpine' %}
    <div style="backrgound-color: #dddddd;">
  {% section 'contact-info' %}
  </div>
{% elsif page.url contains "chasen" %}
  {% layout 'collection-chasen' %}
  {% section "pre-header" %}
  {% section 'header-contact-chasen' %}
  {% section 'contact-info-chasen' %}
{% else %}
  {% layout 'theme' %}
  {% section "pre-header" %}
  {% section 'header-contact-pangea' %}
  <div style="backrgound-color: #dddddd;">
  {% section 'contact-info' %}
  </div>
{% endif %}
<div {% if page.url contains "chasen" %} style="background-color: #000; padding: 114px 0;"{% else %} style="background-color: #3a3a3a; padding: 114px 0;"{% endif %}>
<div class="contained">
<div class="row">
<div class="contact-form-wrapper d-flex flex-column align-items-center justify-content-around">
{% unless page.url contains 'chasen' %}
<h4 class="text-white">Contact Us</h4>
<p class="text-white">We do our best to reply to all inquiries within 2 business days.</p>
{% endunless %}
{% form 'contact' %}

  {% if form.posted_successfully? %}
    <p class="form-success">
      {{ 'contact.form.post_success' | t }}
    </p>
  {% endif %}

  {{ form.errors | default_errors }}

  <input type="text"
    name="contact[name]"
    id="ContactFormName"
    placeholder="{{ 'contact.form.name' | t }}"
    value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

  <input type="email"
    name="contact[email]"
    id="ContactFormEmail"
    placeholder="{{ 'contact.form.email' | t }}"
    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
    spellcheck="false"
    autocomplete="off"
    autocapitalize="off">

  <input type="tel"
    name="contact[phone]"
    id="ContactFormPhone"
    placeholder="{{ 'contact.form.phone' | t }}"
    value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
    pattern="[0-9\-]*">

  <textarea rows="10"
    name="contact[body]"
    id="ContactFormMessage"
    placeholder="{{ 'contact.form.message' | t }}">
    {%- if form.body -%}
      {{- form.body -}}
    {%- endif -%}
  </textarea>
<div class="hidden-brand-form" style="display:none;">
  <input type="radio" id="ContactFormChase" name="contact[Brand]" value="Chasen" {% if page.url contains "chasen" %}checked{% endif %}/> Chasen<br>
  <input type="radio" id="contactFormAlpine" name="contact[Brand]" value="Alpine Provisions" {% if page.url contains "alpine" %}checked{% endif %}/> Alpine Provisions<br/>
  <input type="radio" id="contactFormPangea" name="contact[Brand]" value="Pangea Organics" {% unless page.url contains "chasen" or page.url contains "alpine" %}checked{% endunless %} /> Pangea Organics<br/>
  <input type="radio" id="contactFormCareers" name="contact[Brand]" value="Pangea Careers" {% if page.url contains "careers" %}checked{% endif %} /> Career Interest<br/>
</div>
  <input type="submit" class="button btn" value="{{ 'contact.form.send' | t }}">

{% endform %}
</div>
</div>
  {{ page.content }}
</div>
</div>
